.Starter-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  input {
    width: 200px;
  }
  a {
    color: white;
  }
  .title {
    font-size: 2em;
    font-weight: bold;
  }
}
